<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <h1>Welcome to HPS!</h1>
    <form action="/login" method="post">
        <div>
            <label for="username" id="username" name="username">User identification</label>
            <input type="text" id="username" name="username" required placeholder="User identification">
        </div>
        <div>
            <label for="password" id="password" name="password">Password</label>
            <input type="password" id="password" name="password" required placeholder="Password">
        </div>
        <button type="submit" id="acessar" name="acessar">Access</button>
        <label for="title" id="title" name="title">HPS</label>
        <label for="textMaior" id="textMaior" name="textMaior">Haverd's Preparatory<br>System</label>
        <label for="textMenor" id="textMenor" name="textMenor">HPS - System. admin - Braatz.<br>Concórdia - SC - 89700-001 -<br>Fone: 47 ##### - ####</label>
        <label for="line" id="line" name="line">____________________________</label>
    </form>
</body>
</html>