<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <h1>Bem-vindo ao Sistema!</h1>
    <form action="/login" method="post">
        <div>
            <label for="username" id="username" name="username">Identificação de usuário</label>
            <input type="text" id="username" name="username" required placeholder="Identificação de usuário">
        </div>
        <div>
            <label for="password" id="password" name="password">Senha</label>
            <input type="password" id="password" name="password" required placeholder="Senha">
        </div>
        <button type="submit" id="acessar" name="acessar">Acessar</button>
        <label for="text" id="text" name="text">
            <a href="/register">Não tem uma conta? Cadastre-se aqui</a>
        </label>
    </form>
</body>
</html>